.sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 150px;
}

.sessao h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    
        font-size: 24px;
        color: black;
    
        font-family: "Roboto";
        font-weight: 500;
    
        width: 100%;
        height: 110px;

        margin-top: 60px;
        margin-bottom: -25px;
}

.selecionar-assento {
    height: 230px;
    width: 350px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.assento {
    height: 26px;
    width: 26px;

    background-color: rgb(255, 255, 255);

    margin: 3.5px;

    filter: drop-shadow(0 0 0.1rem rgba(128, 128, 128, 0.295));
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Roboto";
    font-size: 13px;
    font-weight: 500;

    
}

.assento:hover {
    cursor: pointer;
}

.assento.disponivel{
    filter: drop-shadow(0 0 0.2rem rgba(173, 173, 173, 0.623));
}

.assento.ocupado {
    background-color: rgb(255, 175, 71);
}

.assento.selecionado {
    background-color: rgb(132, 219, 1);
}

.legenda {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 330px;

    margin-top: 25px; 
}

.legenda h1 {
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 500;

    margin-top: 7px;
}

.container-legenda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs-comprador {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 330px;
    height: 200px;

    margin-top: 30px;
}

.inputs-comprador label{
    font-family: "Roboto";
    font-weight: 500;

    margin-bottom: 10px;
}

.inputs-comprador input {
    margin-bottom: 30px;

    width: 100%;
    height: 40px;

    border: solid 1px rgba(185, 185, 185, 0.103);
    border-radius: 6px;

    background-color: rgba(199, 199, 199, 0.151);

    padding-left: 5px;

    outline: none;

    transition: 0.15s;

    box-sizing: border-box;
}

::-webkit-input-placeholder { /* Edge */
    padding-left: 5px;

    color: rgba(128, 128, 128, 0.76);
}

.inputs-comprador input:focus {
    border: solid 2px rgba(128, 128, 128, 0.226);
}

.sessao button {
    width: 330px;
    height: 40px;

    background-color: #E8833A;
    filter: drop-shadow(0 0 0.2rem rgba(128, 128, 128, 0.342));

    font-family: "Roboto";
    font-weight: 500;
    color: white;

    border: none;
    border-radius: 6px;
}

.sessao button:hover {
    cursor: pointer;
}




  

