.sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sessao h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    
        font-size: 24px;
        color: black;
    
        font-family: "Roboto";
        font-weight: 500;
    
        width: 100%;
        height: 110px;

        margin-top: 60px;
        margin-bottom: -25px;
}

.selecionar-assento {
    height: 230px;
    width: 350px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.assento {
    height: 26px;
    width: 26px;

    background-color: rgb(255, 255, 255);

    margin: 3.5px;

    filter: drop-shadow(0 0 0.1rem rgba(128, 128, 128, 0.295));
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Roboto";
    font-size: 13px;
    font-weight: 500;

    
}

.assento:hover {
    cursor: pointer;
}

.assento.disponivel{
    filter: drop-shadow(0 0 0.2rem rgba(173, 173, 173, 0.623));
}

.assento.ocupado {
    background-color: rgb(255, 175, 71);
}

.assento.selecionado {
    background-color: rgb(132, 219, 1);
}

.legenda {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 330px;

    margin-top: 25px; 
}

.legenda h1 {
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 500;

    margin-top: 7px;
}

.container-legenda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}