.header {
    height: 80px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    font-size: 34px;
    font-family: "Roboto";
    font-weight: 800;
    color: #E8833A;

    filter: drop-shadow(0 0 2rem #c3cfd9);
}