.header {
    height: 80px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.781);
    backdrop-filter: blur(5px);

    box-shadow:  0 0 1em #c3cfd9a8;

    position: fixed;
    top: 0px;
    left: 0px;

    z-index: 2000;
}

.header .logo {
    font-size: 34px;
    font-family: "Roboto";
    font-weight: 800;
    color: #E8833A;

    cursor: pointer;
}